@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

@model MusicHouse.ViewModels.HomeViewModel

<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->

    <div id="component" class="component component-fullwidth fxStickIt">
        <ul id="listanbp" class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Artists</h1>
                    <h2>Music Artists Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <div class="soundtheme-slider-button">
                            @Html.ActionLink("Discovery Artists", "Index", "Artist", null, new { @class = "btn btn-lg btn-success" })
                        </div>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Albums</h1>
                    <h2>Music Albums Magazine</h2>
                    <div class="soundtheme-slider-button">

                        @Html.ActionLink("Discovery Albums", "Index", "Album", null, new { @class = "btn btn-lg btn-success" })


                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Groups</h1>
                    <h2>Music Groups Magazine</h2>
                    <div class="soundtheme-slider-button">
                        @Html.ActionLink("Discovery Groups", "Index", "Group", null, new { @class = "btn btn-lg btn-success" })

                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png" alt="Slider">
            </li>
        </ul>
        <nav>
            <a id="prevnbp" class="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a id="nextnbp" class="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </nav>
    </div>
    <div class="clearfix"></div>


    <!-- SOUND THEME / TOP ALBUMS -->

    <div class="container-fluid soundtheme-mod-featured soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                        <h1>Top Albums </h1>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-featured" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 6240px; display: block;">
                           @foreach (var item in Model.Albums)
                           {
                                <div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="meida-holder soundtheme-mod-thumb">
                                            <div class="soundtheme-single-gallery">
                                                <a href="#">
                                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/27-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/27-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                            <h1><a href="#">@item.AlbumName</a></h1>
                                        </div>
                                    </div>
                                </div>
                           }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid soundtheme-mod-events soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>Top Groups</h1>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="soundtheme-mod-featcon-two">
                <ul class="soundtheme-event-ul">
                    @foreach (var item in Model.Groups)
                    {
                        <li>
                            <div class="row">
                                <div class="hidden-xs col-sm-2 col-md-1">
                                    <div class="soundtheme-single-gallery">
                                        <a href="">
                                            <img src="http://pock.be/sound/wp-content/uploads/2015/10/00-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                        </a>
                                    </div>
                                </div>

                                <div class="hidden-xs col-sm-2 col-md-1">
                                    <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                        <h1>@item.Established.Year</h1>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="#">@item.GroupName</a>
                                        </h1>

                                        <h2>@item.Origin</h2>
                                    </div>
                                </div>

                                <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <div class="soundtheme-mod-dates">
                                            <h1>@item.NumberOfMembers</h1>
                                            <h2>Members</h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="hidden-xs hidden-sm col-md-1">
                                </div>

                                <div class="hidden-xs col-sm-3 col-md-2">
                                    <div class="soundtheme-event-btn">
                                        <a href="@item.Website" class="btn btn-block btn-lg btn-success">Visit site</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
            </div>
            
            <div class="col-md-4">
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <!-- SOUND THEME / PLAYLIST -->

    <div class="container-fluid soundtheme-mod-tracklist soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>Top Songs</h1>
                    <h2>Listen Now</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row soundtheme-mod-playlist col-md-4 col-md-offset-4 " style="margin-top:60px;">
                <div class="soundtheme-single-track">
                    <div class="soundtheme-single-tracklist">
                        <ol class="fap-my-playlist" style=" margin-bottom: 60px;">
                            @foreach (var item in Model.Songs)
                            {
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a title="@item.SongName">
                                        @item.SongName
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>

                            }
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </div>

    <!-- SOUND THEME / TOP ARTIST -->
    <div class="container-fluid soundtheme-mod-galleries soundtheme-container soundtheme-mod-light ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title ">
                        <h1>Discovery Top Artists </h1>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-gallery" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 4680px; display: block;">
                            @foreach (var item in Model.Artists)
                                {
                                    <div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                        <div class="item">
                                            <div class="meida-holder soundtheme-mod-thumb">
                                                <div class="soundtheme-single-gallery">
                                                    <a href="#">
                                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/12-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/12-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">
                                                        <div class="soundtheme-hover-play">
                                                            <i class="fa fa-hand-peace-o"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="soundtheme-mod-detail ">
                                                <h1>
                                                    <a href="#">@item.FullName</a>
                                                </h1>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>

    <!-- SOUND THEME / FOOTER -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
    </div>
@section scripts{
    <script>
        var list = document.getElementById("listanbp");
        var pr = document.getElementById("prevnbp");
        pr.onclick = function () {
            for (var i = 0; i < list.children.length; i++) {
                if (list.children[i].className == "current") {
                    if (list.children[i - 1] != null) {
                        list.children[i].className = "";
                        list.children[i - 1].className = "current";
                        i = list.children.length;
                    }
                }
            }
        }

        var nx = document.getElementById("nextnbp");
        nx.onclick = function () {
            for (var i = 0; i < list.children.length; i++) {
                if (list.children[i].className == "current") {
                    if (list.children[i+1] != null) {
                        list.children[i].className = "";
                        list.children[i + 1].className = "current";
                        i = list.children.length;
                    }
                }
            }
        }
    </script>
}
