@model IEnumerable<MusicHouse.Models.Song>
<!DOCTYPE html>
<html>
<head>

</head>
    <body>
        <div class="container col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        404
                        <small>Page Not Found</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home", new { }, new { })
                        </li>
                        <li class="active">404</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>
                            <span class="error-404">404</span>
                        </h1>
                        <p>The page you're looking for could not be found, or there was an error processing the request. Here are some helpful links to get you back on track:</p>
                        <ul>
                            <li>
                               @Html.ActionLink("Home", "Index", "Home", new { }, new { })
                            </li>
                            <li>
                               @Html.ActionLink("Artists", "Index", "Artist", new { }, new { })
                            </li>
                            <li>
                              @Html.ActionLink("Albums", "Index", "Album", new { }, new { })
                            </li>
                            <li>
                               @Html.ActionLink("Groups", "Index", "Group", new { }, new { })
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>

