@model MusicHouse.ViewModels.GroupViewModel

<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->
    <div id="component" class="component component-fullwidth fxStickIt">
        <ul id="listanbp" class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Artists</h1>
                    <h2>Music Artists Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <div class="soundtheme-slider-button">
                            @Html.ActionLink("Discovery Artists", "Index", "Artist", null, new { @class = "btn btn-lg btn-success" })
                        </div>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Albums</h1>
                    <h2>Music Albums Magazine</h2>
                    <div class="soundtheme-slider-button">

                        @Html.ActionLink("Discovery Albums", "Index", "Album", null, new { @class = "btn btn-lg btn-success" })


                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Groups</h1>
                    <h2>Music Groups Magazine</h2>
                    <div class="soundtheme-slider-button">
                        @Html.ActionLink("Discovery Groups", "Index", "Group", null, new { @class = "btn btn-lg btn-success" })

                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png" alt="Slider">
            </li>
        </ul>
        <nav>
            <a id="prevnbp" class="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a id="nextnbp" class="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </nav>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / HEADER BOTTOM -->
    <div class="container-fluid soundtheme-header-bottomback">
        <div class="container">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-3">
                    <div class="soundtheme-mini-share-two">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Home")" class="">
                                    <i class="fa fa-home"></i> 
                                    Home
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / RESPONSIVE SPACE -->
    <div class="soundtheme-single-space"></div>

    <!-- SOUND THEME / DETAILS -->
    <div class="container-fluid soundtheme-white-backone soundtheme-single-details soundtheme-blog-loops">
        <div class="container">
            <div class="row">

                <!-- # LEFT BLOG -->
                <!-- #BLOG LIST -->
                <div class="col-md-8">
                    <div id="groupModel" class="row soundtheme-blog-listing">
                        @foreach (var item in Model.Groups)
                        {
                            <div class="soundtheme-blogs">
                                <div class="col-md-5">
                                    <div class="soundtheme-blog-list-img">
                                        <div class="soundtheme-single-gallery">
                                            <a href="@Url.Action("Details", "Group", new { id = item.Reference.Id })">
                                                <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436476549056-cdf7e8f3d8e3-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436476549056-cdf7e8f3d8e3-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436476549056-cdf7e8f3d8e3-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436476549056-cdf7e8f3d8e3-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px"/>
                                                <div class="soundtheme-hover-play">
                                                    <i class="fa fa-hand-peace-o"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="soundtheme-blog-list">
                                        <h1>
                                            <a href="@Url.Action("Details", "Group", new { id = item.Reference.Id })">
                                                @item.Data.GroupName
                                            </a>
                                        </h1>
                                        <hr/>
                                        <div class="soundtheme-post-detail">
                                            <p>A faucibus velit adipiscing est vitae scelerisque tristique
                                                eu adipiscing porta suspendisse aliquet duis class phasellus
                                                euismod fames parturient hac ac elit elit eleifend litora condimentum at. 
                                                Lorem parturient primis viverra nunc ipsum nisl eleifend donec consectetur
                                                magna fusce hendrerit a lobortis laoreet adipiscing ad suspendisse dui a dictum. 
                                            </p>
                                            @Html.ActionLink("Details", "Details",new { id=  @item.Reference.Id})           
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>

                        }
                    </div>
                </div>
                <!-- #SIDEBAR -->
                <div class="col-md-4">
                    <div class="soundtheme-widget">                        
                        <aside id="archives-2" class="widget widget_archive">
                            <div class="soundtheme-widgettitle"><h1 class="widget-title">Genres</h1></div>		
                                <ul>
                                    @{
                                        foreach (var item in Model.Genres)
                                        {
                                            @Ajax.ActionLink(item.Data.Name, "Index", new {name = item.Data.Name}, new AjaxOptions()
                                            {
                                                HttpMethod = "GET",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "groupModel",
                                            }, new { @class = "list-group-item"});
                                        }
                                    }
                                </ul>
                        </aside>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / FOOTER -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- SOUND THEME / AJAX CONTENT END -->

@section scripts{
    <script>
        var list = document.getElementById("listanbp");
        var pr = document.getElementById("prevnbp");
        pr.onclick = function () {
            for (var i = 0; i < list.children.length; i++) {
                console.log("aaa");
                if (list.children[i].className == "current") {
                    if (list.children[i - 1] != null) {
                        list.children[i].className = "";
                        list.children[i - 1].className = "current";
                        i = list.children.length;
                    }
                }
            }
        }
        var nx = document.getElementById("nextnbp");
        nx.onclick = function () {
            for (var i = 0; i < list.children.length; i++) {
                if (list.children[i].className == "current") {
                    if (list.children[i+1] != null) {
                        list.children[i].className = "";
                        list.children[i + 1].className = "current";
                        i = list.children.length;
                    }
                }
            }
        }

    </script>

}
